<mat-form-field class="demo-full-width" appearance="outline">
    <mat-label>http://globoesporte.com</mat-label>
    <textarea matInput matTextareaAutosize matLinkPreview minRows="6"></textarea>
  </mat-form-field>